
html,body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-image: url(../static/work.jpg);
  background-size: cover;
}
.jumbotron{
  background-color: whitesmoke !important;
  margin-left:20vw;
  margin-right: 20vw;
  border-radius: 30px;
}
